<main class="main pythagorean-theorem">
    <h1 class="title">Circle</h1>

    <div class="circle-data">
        <div class="circle">
            <span class="center"></span>
            <p class="radius">
                <span>{{ R }}</span>
            </p>
            <p class="diameter">
                <span>{{ D }}</span>
            </p>
            <span class="circumference">{{ C }}</span>
        </div>
        
        <p class="circle-area">S = {{ S }}</p>
    </div>

    <div class="input-fields">
        <label for="R">
            <span>R</span>
            <input
                id="R"
                class="input"
                type="number"
                name="R"
                [value]="R"
                (input)="setR($event)"
            >
        </label>
        <label for="D">
            <span>D</span>
            <input
                id="D"
                class="input"
                type="number"
                name="D"
                [value]="D"
                (input)="setD($event)"
            >
        </label>
        <label for="C">
            <span>C</span>
            <input
                id="C"
                class="input"
                type="number"
                name="C"
                [value]="C"
                (input)="setC($event)"
            >
        </label>
        <label for="S">
            <span>S</span>
            <input
                id="S"
                class="input"
                type="number"
                name="S"
                [value]="S"
                (input)="setS($event)"
            >
        </label>
    </div>

    <div class="buttons">
        <button 
            class="button reset"
            (click)="reset()"
        >Reset</button>
        <button 
            class="button calculate"
            (click)="calculate()"
        >Calculate</button>
    </div>
</main>
