.exchange-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 30px;
}

.providers {
    width: 250px;
    margin-bottom: 25px;

    display: inline-flex;
    flex-direction: column;

    .provider {
        height: 24px;
        display: inline-flex;
        align-items: center;
        column-gap: 5px;

        input {
            display: none;
        }
        .input-provider {
            display: block;
            width: 15px;
            height: 15px;

            border: 1px solid var(--color-t-1);
            border-radius: 50%;
        }
        input:checked + .input-provider {
            border: none;
            background-color: var(--color-1);
        }

        span {
            line-height: 1.2em;
        }
    }
}

.select-container {
    width: 250px;
    height: 30px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    background-color: var(--color-1);
    border-radius: 5px;
    overflow: hidden;
    
    .currency {
        width: 70px;
        height: 100%;
        padding: 0 5px;

        z-index: 1;
        border: none;
        outline: none;
        background-color: inherit;

        color: var(--color-bg);
    }

    .amount {
        width: 180px;
        height: 100%;
        padding: 0;

        z-index: 1;
        border: 1px solid var(--color-1);
        border-radius: 4px;
        outline: none;

        text-align: center;
    }
}