<div class="app-container">
  <header class="header">
    <a href="/">Home</a>

    <button 
      class="menu-button"
      (click)="toggleMenu()"
    >
      <span>{{ isMenu ? 'close' : 'menu'}}</span>
    </button>
  </header>
  
  <nav [class]="['navigation', isMenu ? 'active' : '']">
    @for (section of sections; track section) {
      <section class="navigation-section">
        <h2 class="section-title">{{ section.section }}</h2>
  
        <ul class="link-list">
          @for (link of section.links; track link) {
            <li class="link-wrap">
              <a 
                class="link" 
                [href]="'/'+link"
                (click)="setMenu(false)"
              >{{ upperFirstLetter(link) }}</a>
            </li>
          }
        </ul>
      </section>
    }
  </nav>
  
  <router-outlet />
</div>
