:host {
  --color-bg: #FFFFFF;

  --color-t-1: #171414;
  --color-t-2: #413e46;
  --color-t-3: #A39fA9;
  
  --color-1: #C3002F;
  --color-2: #C3002F20;



  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.app-container {
  display: grid;
  grid-template-rows: 40px 0 calc(100vh - 40px);
  grid-template-columns: 250px auto;
  grid-template-areas: 
  "header header"
  "nav main"
  "nav main"
  ;
  color: var(--color-t-1);
}

.header {
  grid-area: header;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-1);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
}
.home-page {
  color: var(--color-bg);
  font-weight: 500;
}
// .home-page:hover {
//   color: var(--color-1);
// }
.menu-button {
  display: none;
}

.navigation {
  grid-area: nav;
  padding: 25px;
  z-index: 5;

  background-color: var(--color-bg);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
}
.navigation-section {
  margin-bottom: 15px;
}
.section-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 13px;
  font-weight: 700;
}
// .link-list { 
// }
// .link-wrap {
// }
.link {
  display: inline-block;
  width: 100%;
  padding: 2px 5px;

  border-radius: 5px;

  color: var(--color-t-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}
.link.active, 
.link:hover {
  color: var(--color-1);
}


@media screen and (max-width: 650px) {
  .app-container {  
    display: block;
  }

  .header {
    justify-content: space-between;
  }
  .menu-button {
    display: block;
    background: none;
    border: none;
  }
  .menu-button > span {
    color: var(--color-bg);
    font-size: 14px;
  }

  .navigation {
    display: none;
    border-right: none;
  }
  .navigation.active {
    display: block;
    width: 100%;
    height: calc(100vh - 40px);

    position: fixed;
    top: 40px;
    left: 0;
    z-index: 5;
  }
}