/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  padding: 20px;
  overflow: auto;
}

.main > .title {
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1em;
}

a, p,
ul, li,
button,
input {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

hr {
  border: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}