<main class="main home">
    <h1 class="title">Welcome to Calculators Spot</h1>

    <p class="text">Here you can calculate many different things, from currency rates to mathematical formulas.</p>

    <div class="resourses-links">
        <a 
            class="resourses-link"
            href="https://github.com/mark-bor/Calculators-Spot"
            target="_blank"
        >
            <img 
                src="https://cdn-icons-png.flaticon.com/512/25/25231.png" 
                alt=""
                width="20" height="20"
            />
            <span>Calculators Spot on GitHub</span>
        </a>
  
        <a 
            class="resourses-link"
            href="https://kitsune-diary.vercel.app/"
        >
            <img 
                src="https://kitsune-diary.vercel.app/_next/static/media/logo.aadbc3bc.svg" 
                alt="" 
                height="20"
            />
            <span>Kitsune Diary</span>
        </a>
    </div>
</main>