<main class="main pythagorean-theorem">
    <h1 class="title">Percent</h1>

    <p class="formula">
        <span>100% = {{ a }}</span>
        <span>{{ b }}% = {{ x }}</span>
    </p>

    <div class="input-fields">
        <label for="a">
            <span>a</span>
            <input
                id="a"
                class="input"
                type="number"
                name="a"
                [value]="a"
                (input)="setA($event)"
            >
        </label>
        <label for="b">
            <span>b</span>
            <input
                id="b"
                class="input"
                type="number"
                name="b"
                [value]="b"
                (input)="setB($event)"
            >
        </label>
        <label for="x">
            <span>x</span>
            <input
                id="x"
                class="input"
                type="number"
                name="x"
                [value]="x"
                (input)="setX($event)"
            >
        </label>
    </div>

    <div class="buttons">
        <button 
            class="button reset"
            (click)="reset()"
        >Reset</button>
        <button 
            class="button calculate"
            (click)="calculate()"
        >Calculate</button>
    </div>
</main>
